@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body
{
	font-family: 'Poppins', sans-serif;
}

.terminal .terminal-output div div span
{
	font-size: 15px;
	line-height: 24px;
}

#content
{
	background-repeat: none;
	background-size: cover;
}

#sidebar
{
	min-width: 250px;
	max-width: 250px;
	min-height: 100vh;
    transition: all 0.3s;
}

#sidebar ul.components
{
	padding: 20px 0;
    border-bottom: 1px solid #242222;
}

#sidebar.active
{
	margin-left: -250px;
}

#sidebar .sidebar-header
{
	background: #302e2e;
}

#sidebar ul li:not(.active):hover>a 
{
	color: #242222 !important;
	background: #fff;
}

#sidebar ul li a, #sidebar ul li div
{
	text-decoration: none;
	display: block;
	padding: 1rem;
}

.status-image
{
	position: relative;
	left: 75%;
	top: 20%;
}

.wrapper
{
	display: flex;
	width: 100%;
	align-items: stretch;
}

.server-title
{
	margin-left: -10%;
}

#inner-content
{
	width: 90%;
}

.addLink
{
	font-size: 0.5em;
}

a[data-toggle="collapse"]
{
	position: relative;
}

.dropdown-toggle::after
{
	display: block;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}

#sidebar ul li.active>a, #sidebar ul li.active>div
{
	background: #404042;
}

@media (max-width: 768px)
{
	#sidebar
	{
		margin-left: -250px;
	}
	
	#sidebar.active
	{
		margin-left: 0;
	}
	
	#sidebarCollapse
	{
		display: block;
	}
}

@media (min-width: 768px)
{
	#sidebarCollapse
	{
		display: none;
	}
}