#parse("linkMacros.vm")
#parse("javascript.vm")
#set ($background = "images/material-back.jpeg")
#set ($active = 'Files')

#define ($content)
	<h1 class="ml-5 mt-3 text-light d-inline-block">$serverName</h1>
	<hr>
	<nav>
		<ol class="breadcrumb">
			#foreach($dir in $directoryList)
				<li class="breadcrumb-item #if(!$foreach.hasNext) active #end">
					#if(!$foreach.hasNext)
						$dir.name
					#else
						<a href="$Endpoints.GAME_SERVER_FILES.get($serverID, $dir.fullPath)">
							$dir.name
						</a>
					#end
				</li>
			#end
		</ol>
	</nav>
	<div class="d-flex flex-row mb-3">
		<button title="Upload files" onClick="upload('file')" data-toggle="tooltip" data-placement="top" class="btn bg-light rounded ml-3">
			<i class="fas fa-file-upload"></i>
		</button>
		<button title="Upload folder" onClick="upload('folder')" data-toggle="tooltip" data-placement="top" class="btn bg-light rounded ml-3">
			<i class="fas fa-upload"></i>
		</button>
		<a  title="Download current folder" href="$Endpoints.GAME_SERVER_FILE_DOWNLOAD.get($serverID, $directories)" data-toggle="tooltip" data-placement="top" class="btn bg-light rounded ml-3">
			<i class="fas fa-download"></i>
		</a>
		<button title="Delete multiple files" onClick="startDeleteMultiple(this)" data-toggle="tooltip" data-placement="top" class="btn bg-light rounded ml-3">
			<i class="fas fa-fire"></i>
		</button>
		<button hidden="true" title="Submit delete" onClick="submitDeleteMultiple(this)" link="$Endpoints.GAME_SERVER_FILE_DELETE_MULTIPLE.get($serverID, $directories, null)" id="deleteMultipleSubmit" data-toggle="tooltip" data-placement="top" class="btn bg-success rounded ml-3">
			<i class="fas fa-check"></i>
		</button>
		<button title="Create new folder" onClick="showFolderField()" data-toggle="tooltip" data-placement="top" class="btn bg-light rounded ml-3">
			<i class="fas fa-folder-plus"></i>
		</button>
		<div class="form-inline">
			<input type="text" name="folderName" id="folderName" hidden="true" placeholder="Enter new folder name" class="ml-3 form-control">
		</div>
		<button hidden="true" id="submitFolder" onClick="submitFolder('$Endpoints.GAME_SERVER_NEW_FOLDER.get($serverID, $directories, '')')" class="btn bg-success rounded ml-3">
			Submit
		</button>
	</div>
	<div id="fileListing" class="list-group list-group-flush">
		#foreach($file in $files)
			#set($fullPath = [])
			#set($__dummy__ = $fullPath.addAll($directories))
			#set($__dummy__ = $fullPath.add($file.name))
			#if($file.directory)
				#define($fileHref)
				$Endpoints.GAME_SERVER_FILES.get($serverID, $fullPath)
				#end
			#else
				#define($fileHref)
				$Endpoints.GAME_SERVER_FILE_DOWNLOAD.get($serverID, $fullPath)
				#end
			#end
			<div class="d-flex">
				<a id="file-$file.name" href="$fileHref" class="list-group-item list-group-item-action bg-dark text-light form-inline input-group input-group-sm col-lg-11 col-sm-8 col-8">
					#if($file.directory)
						<i class="fas fa-folder mr-2"></i>
					#elseif($file.icon == "file")
						<i class="far fa-file mr-2"></i>
					#else
						<i class="far fa-file-$file.icon mr-2"></i>
					#end
					<span>$file.name</span>
				</a>
				<button onClick="editName('$file.name', this)" style="transition: all 0.3s;" linkLocation="$fileHref" location="$Endpoints.GAME_SERVER_FILE_RENAME.get($serverID, $fullPath, '')" class="list-group-item list-group-item-action bg-warning text-light">
					<i class="fas fa-edit"></i>
				</button>
				<button onClick="deleteFile(this)" style="transition: all 0.3s;" fileName="$file.name" location="$Endpoints.GAME_SERVER_FILE_DELETE.get($serverID, $fullPath)" class="list-group-item list-group-item-action bg-danger text-light">
					<i class="fas fa-trash"></i>
				</button>
			</div>
		#end
	</div>
	<hr>
	<form method="POST" id="form" enctype="multipart/form-data">
		<input type="file" multiple="true" hidden="true" id="fileUpload" name="fileUpload">
	</form>
	<form method="POST" id="zipForm" enctype="multipart/form-data" action="$redirectURL&folder=true">
		<input type="file" hidden="true" id="zipUpload" name="zipUpload" accept=".zip">
	</form>
	
	<script>
		#javascriptVariable("serverName", $serverName)
		#javascriptVariable("directory", $directoryString)
	</script>
	
	<script src="js/GameServerFile.js"></script>
#end

#parse("base.vm")