#parse("linkMacros.vm")
#set ($background = "$randomBackground")

#macro(triggerTab $serverID $triggers $filterType)
	<div id="$filterType" class="tab-pane fade #if($filterType == 'allTriggers') show active #end">
		<table style="table-layout: fixed;" class="table table-dark">
			<thead>
				<tr>
					<th>Type</th>
					<th>Value</th>
					<th>Command</th>
					<th>Action</th>
					<th>
						<button trigger="$filterType" onClick="addTrigger(this)" class="text-light btn btn-primary float-right">
							<i class="fas fa-plus"></i>
						</button>
					</th>
				</tr>
			</thead>
			<tbody>
				#foreach($trigger in $triggers)
					#if($filterType == $trigger.type || $filterType == "allTriggers")
						<tr id="$trigger.id">
							<td>$trigger.type</td>
							<td>$trigger.value</td>
							<td>$trigger.command</td>
							<td>$trigger.extra</td>
							<td>
								<button link="$urlMappings['backend.api.GameServerTriggerDelete']?id=$serverID&triggerID=$trigger.id" onClick="deleteRow(this)" class="btn-danger text-light btn float-right">
									<i class="fas fa-trash"></i>
								</button>
								<button onClick="editRow(this, $trigger.id, '$filterType')" class="btn-warning text-light btn float-right mr-2">
									<i class="fas fa-edit"></i>
								</button>
							</td>
						</tr>
					#end
				#end
			</tbody>
			#foreach($trigger in $triggers)
				#if($filterType == $trigger.type || $filterType == "allTriggers")
					<form method="POST" action="$urlMappings['backend.api.GameServerTriggerEdit']?id=$serverID&triggerID=$trigger.id" id="$filterType$trigger.id">
					</form>
				#end
			#end
			<form method="POST" action="$urlMappings['backend.api.GameServerTriggerAdd']?id=$serverID" id="newTrigger">
			</form>
		</table>
	</div>
#end

#define ($content)
	<div id="left-elements" class="float-left ml-5">
		<h1 id="title" class="text-light">
			$serverName
		</h1>
		<hr>
		<textarea id="log" rows="20" cols="50" readonly="true" value="" class="form-control text-light bg-dark"></textarea>
		<input type="text" id="command" autofocus="true" onKeyDown="history(event)" onKeyPress="command(event)" class="form-control">
		<ul class="nav nav-tabs mt-5 bg-dark">
			<li class="nav-item">
				<a href="#allTriggers" data-toggle="tab" class="nav-link active">All Triggers</a>
			</li>
			<li class="nav-item">
				<a href="#timeTriggers" data-toggle="tab" class="nav-link">Time Triggers</a>
			</li>
			<li class="nav-item">
				<a href="#recurringTriggers" data-toggle="tab" class="nav-link">Recurring Triggers</a>
			</li>
			<li class="nav-item">
				<a href="#outputTriggers" data-toggle="tab" class="nav-link">Output Triggers</a>
			</li>
		</ul>
		<div id="tab-contents" class="tab-content">
			#triggerTab($serverID, $triggers, "allTriggers")
			#triggerTab($serverID, $triggers, "timeTriggers")
			#triggerTab($serverID, $triggers, "recurringTriggers")
			#triggerTab($serverID, $triggers, "outputTriggers")
		</div>
	</div>
	<ul id="options" class="float-right list-group list-group-flush mr-3 bg-dark text-center mb-5">
		<li class="list-group-item bg-dark">
			#startButton("")
		</li>
		<li class="list-group-item bg-dark">
			#stopButton("")
		</li>
		<li class="list-group-item bg-dark">
			<a href="$urlMappings['frontend.GameServerFiles']?id=$serverID&directory=$serverName" class="btn btn-info">View Files</a>
		</li>
		<li class="list-group-item bg-dark">
			<a href="$urlMappings['frontend.GameServerSettings']?id=$serverID" class="btn btn-warning">View Settings</a>
		</li>
	</ul>
	
	<script>
		var serverID = $serverID;
		var socketAddress = "$socketAddress";
		var serverCommandRequest = "$serverCommandRequest";
		var serverStartRequest = "$serverStartRequest";
		var serverStopRequest = "$serverStopRequest";
		var serverLastRequest = "$serverLastRequest";
		var serverCommandEnd = "$serverCommandEnd";
		var triggerTypes = [#foreach($trigger in $triggerTypes) "$trigger",#end];
		var actionTypes = [#foreach($action in $actionTypes) "$action",#end];
		
		var triggerOldValues = 
		{
			#foreach($id in $triggerOldValues.keySet())
				$id: {
						#foreach($key in $triggerOldValues[$id].keySet())
							'$key': '$triggerOldValues[$id][$key]',
						#end
					 },
			#end
		};
	</script>
	
	<script src="js/server.js"></script>
#end

#parse("base.vm")