#parse("utils.vm")
#parse("linkMacros.vm")
#parse("javascript.vm")
#set ($background = "$randomBackground")
#set ($active = 'Console')

#addCSS("css/terminal.css")

#macro(triggerTab $serverID $triggers $filterType)
	<div id="$filterType" class="tab-pane fade #if($filterType == 'allTriggers') show active #end">
		<table style="table-layout: fixed;" class="table table-dark table-responsive-lg">
			<thead>
				<tr>
					<th>Type</th>
					<th>Value</th>
					<th>Command</th>
					<th>Action</th>
					<th>
						<button trigger="$filterType" onClick="addTrigger(this)" class="text-light btn btn-primary float-right">
							<i class="fas fa-plus"></i>
						</button>
					</th>
				</tr>
			</thead>
			<tbody>
				#foreach($trigger in $triggers)
					#if($filterType == $trigger.type || $filterType == "allTriggers")
						<tr id="$trigger.id">
							<td>$trigger.type</td>
							<td>$trigger.value</td>
							<td>$trigger.command</td>
							<td>$trigger.extra</td>
							<td class="d-flex flex-row justify-content-end">
								<div class="flex-column">
									<button onClick="editRow(this, $trigger.id, '$filterType')" class="btn-warning text-light btn mr-2">
										<i class="fas fa-edit"></i>
									</button>
								</div>
								<div class="flex-column">
									<button link="$Endpoints.GAME_SERVER_TRIGGER_DELETE.get($serverID, $trigger.id)" onClick="deleteRow(this)" class="btn-danger text-light btn">
										<i class="fas fa-trash"></i>
									</button>
								</div>
							</td>
						</tr>
					#end
				#end
			</tbody>
			#foreach($trigger in $triggers)
				#if($filterType == $trigger.type || $filterType == "allTriggers")
					<form method="POST" action="$Endpoints.GAME_SERVER_TRIGGER_EDIT.post($serverID, $trigger.id)" id="$filterType$trigger.id">
					</form>
				#end
			#end
			<form method="POST" action="$Endpoints.GAME_SERVER_TRIGGER_ADD.post($serverID)" id="newTrigger">
			</form>
		</table>
	</div>
#end

#define ($content)
	<div class="mx-5">
		<h1 id="title" class="text-light mt-3">
			$serverName
		</h1>
		<hr>
		<div id="terminal"></div>
		<div class="rounded bg-dark p-1 my-4 d-flex flex-row flex-wrap">
			#startButton($serverID, "mx-2 flex-column my-2")
			#restartButton($serverID, "mx-2 flex-column my-2")
			#stopButton($serverID, "mr-lg-auto flex-column my-2 mx-2")
			<button onClick="term.scrollToBottom()" class="btn btn-outline-warning mx-2 my-2 flex-column">
				Follow
			</button>
			#ipAddressButton($serverID, "mx-2 flex-column my-2")
		</div>
		<ul class="nav nav-tabs mt-5 bg-dark">
			<li class="nav-item">
				<a href="#allTriggers" data-toggle="tab" class="nav-link active">All Triggers</a>
			</li>
			<li class="nav-item">
				<a href="#timeTriggers" data-toggle="tab" class="nav-link">Time Triggers</a>
			</li>
			<li class="nav-item">
				<a href="#recurringTriggers" data-toggle="tab" class="nav-link">Recurring Triggers</a>
			</li>
			<li class="nav-item">
				<a href="#outputTriggers" data-toggle="tab" class="nav-link">Output Triggers</a>
			</li>
		</ul>
		<div id="tab-contents" class="tab-content mb-5">
			#triggerTab($serverID, $triggers, "allTriggers")
			#triggerTab($serverID, $triggers, "timeTriggers")
			#triggerTab($serverID, $triggers, "recurringTriggers")
			#triggerTab($serverID, $triggers, "outputTriggers")
		</div>
	</div>
	
	<script>
		#javascriptVariable("serverID", $serverID)
		#javascriptVariable("triggerTypes", $triggerTypes)
		#javascriptVariable("actionTypes", $actionTypes)
		#javascriptVariable("triggerOldValues", $triggerOldValues)
	</script>
	
	#parse("server.vm")
	<script src="js/terminal.js"></script>
	<script src="js/console.js"></script>
#end

#parse("base.vm")