#parse("linkMacros.vm")
#set ($background = "images/material-back.jpeg")
#set ($active = 'Servers')

#define ($content)
	<div id="inner-content" class="ml-5 mt-5">
		<h1 class="text-light">
			Current Servers
		</h1>
		<hr class="border border-light">
		#serverList($servers)
	</div>
	
	#parse("server.vm")
	<script src="js/index.js"></script>
#end

#parse("base.vm")