#macro(consoleLink $id)
	<a href="$Endpoints.GAME_SERVER_CONSOLE.get($id)" class="mr-4 text-decoration-none" data-toggle="tooltip" data-placement="bottom" title="Open server console">
		<i class="fas fa-terminal"></i>
	</a>
#end

#macro(filesLink $id $name)
	<a href="$Endpoints.GAME_SERVER_FILES.get($id, [$name])" class="mr-4 text-decoration-none" data-toggle="tooltip" data-placement="bottom" title="View server files">
		<i class="fas fa-file fa-lg"></i>
	</a>
#end

#macro(settingsLink $id)
	<a href="$Endpoints.GAME_SERVER_SETTINGS.get($id)" class="mr-4 text-decoration-none" data-toggle="tooltip" data-placement="bottom" title="Edit server settings">
		<i class="fas fa-edit"></i>
	</a>
#end

#macro(deleteLink $id $name)
	<a href="#" link="$Endpoints.GAME_SERVER_DELETE.get($id)" onClick="deleteServer(this, '$name')" class="text-decoration-none" data-toggle="tooltip" data-placement="bottom" title="Delete Server">
		<i class="fas fa-trash-alt"></i>
	</a>
#end

#macro(startButton $id $extra)
	<button id="start-$id" onClick="runCommand($id, {'command': 'start', 'type': 'action'}, function(){if(this.readyState === 1) {document.getElementById('spinner-start-$id').hidden=false;}})" class="btn btn-primary $extra">
		Start Server
		<span id="spinner-start-$id" class="spinner-border spinner-border-sm ml-2" hidden="true" disabled="true"></span>
	</button>
#end

#macro(stopButton $id $extra)
	<button id="stop-$id" onClick="runCommand($id, {'command': 'stop', 'type': 'action'}, function(){if(this.readyState === 1) {document.getElementById('spinner-stop-$id').hidden=false;}})" class="btn btn-danger $extra">
		Stop Server
		<span id="spinner-stop-$id" class="spinner-border spinner-border-sm ml-2" hidden="true" disabled="true"></span>
	</button>
#end

#macro(restartButton $id $extra)
	<button id="restart-$id" onClick="runCommand($id, {'command': 'restart', 'type': 'action'}, function(){if(this.readyState === 1) {document.getElementById('spinner-restart-$id').hidden=false;}})" class="btn btn-info $extra">
		Restart Server
		<span id="spinner-restart-$id" class="spinner-border spinner-border-sm ml-2" hidden="true" disabled="true"></span>
	</button>
#end

#macro(ipAddressButton $id $extra)
	<button id="ipaddress-$id" onClick="getIPAddress($id)" class="btn btn-outline-info $extra">
		Copy Address
	</button>
#end

#macro(serverList $servers)
	<table class="table table-striped table-hover table-dark table-responsive-lg">
		<thead>
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Type</th>
				<th scope="col">Status</th>
				<th scope="col">Options</th>
			</tr>
		</thead>
		<tbody>
			#foreach ($server in $servers)
				<tr>
					<td>$server.Name</td>
					<td>$server.ServerType</td>
					<td id="status-$server.Id">
						<span>
							<i class="fas fa-circle mr-2"></i>
						</span>
						<span>Unknown</span>
					</td>
					<td class="py-3 d-flex flex-row">
						<div class="flex-column">
							#consoleLink($server.Id)
						</div>
						<div class="flex-column">
							#filesLink($server.Id, $server.Name)
						</div>
						<div class="flex-column">
							#settingsLink($server.Id)
						</div>
						#foreach($servletName in $server.module.gameServerUIHandler().getRegisteredServlets().keySet())
							<div class="flex-column">
								<a href="$Endpoints.MODULE_SERVLETS.get($server.module.gameServerOptions().getServerType(), $servletName, $server.id)" class="mr-4 text-decoration-none"  data-toggle="tooltip" data-placement="bottom" title="$servletName">
									#set($servletIcon = $server.module.gameServerUIHandler().getIconClass($servletName))
									#if($servletIcon)
										<i class="$servletIcon"></i>
									#else
										<i class="fas fa-external-link-alt"></i>
									#end
								</a>
							</div>
						#end
						<div class="flex-column">
							#deleteLink($server.Id, $server.Name)
						</div>
					</td>
					<td class="d-flex flex-row">
						<div class="flex-column">
							#startButton($server.Id "mr-4")
						</div>
						<div class="flex-column">
							#restartButton($server.Id "mr-4")
						</div>
						<div class="flex-column">
							#stopButton($server.Id "mr-4")
						</div>
					</td>
				</tr>
			#end
		</tbody>
	</table>
#end